<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #F2EFEB; max-height: 10vh">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../imagenes/logo2 1.png" alt="logo" class="d-inline-block align-text-top img-fluid" ">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="linkNavBar" class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="linkNavBar" class="nav-link active" href="@Url.Action("About")">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info nav-link" href="@Url.Action("Login")">Ingresar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <!-- Columna de información de contacto -->
                    <div class="col-md-4 mb-3">
                        <h5>Contacto</h5>
                        <ul class="list-unstyled">
                            <li><a href="mailto:contacto@tudominio.com" class="text-white">contacto@tudominio.com</a></li>
                            <li><a href="tel:+123456789" class="text-white">+1 234 567 89</a></li>
                            <li><a href="https://www.tudominio.com" class="text-white" target="_blank">www.tudominio.com</a></li>
                        </ul>
                    </div>

                    <!-- Columna de redes sociales -->
                    <div class="col-md-4 mb-3">
                        <h5>Redes sociales</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://facebook.com" class="text-white" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com" class="text-white" target="_blank">Twitter</a></li>
                            <li><a href="https://instagram.com" class="text-white" target="_blank">Instagram</a></li>
                            <li><a href="https://linkedin.com" class="text-white" target="_blank">LinkedIn</a></li>
                        </ul>
                    </div>

                    <!-- Columna de derechos de autor -->
                    <div class="col-md-4 text-center text-md-right">
                        <p>&copy; 2025 Tu Empresa. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
